<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.mapper.PowerMapper">
	<select id="selectPidByRname" resultType="Power">
	 		select power_id from rolepower where role_name=#{role_name}
	</select>
</mapper>